/* global style
------------------------------------------------------------------------------------------------------- */
p{
    color: rgb(33, 32, 32);
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3{
    font-family: 'Caveat', cursive;
}
h1{
    font-size: 60px;
    margin: 0;
}
h2{
    font-size: 30px;
    margin: 0;
}
h3{
    font-size: 20px;
    margin: 0;
}
img{
    width:300px;
}
a:link{
    color:rgb(24, 124, 49);
}
a:visited{
    color:rebeccapurple;
}
a:hover{
    color:red;
}
h1{
    margin: 0;
}
*{
    margin: auto;
}
.center-align{
    text-align: center;
}
.wrap{
    margin: auto 400px;
}

/* Profile style
------------------------------------------------------------------------------------------------------- */
.navigation{
    padding:15px;
    background-image:url(../img/sea.jpg);
    background-position:bottom;
}
.navigation ul{
    margin-left: 0px;
}
.navigation ul li{
    display: inline-block;
    font-size: large;
}
.navigation a{
    color: rgb(17, 17, 17);
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    border: 3px ridge gold;
    background-color:rgb(6, 242, 234);
}
.navigation a:hover{
    color:rgba(102, 51, 153,80%);
}
.intro{
    background-color: rgb(83, 138, 220);
    border: 8px,gold;
    text-align: left;
    padding: 40px 0px;
}



/* Project style
------------------------------------------------------------------------------------------------------- */
.project-style{
    background-color: darkgray;
    padding: 40px 0px;
}

/* Work experience style
------------------------------------------------------------------------------------------------------- */
.work-style{
    background-color: cadetblue;
    padding: 40px 0px;
}
/* Eduaction style
------------------------------------------------------------------------------------------------------- */
.education-style{
    background-color: rgb(180, 72, 72);
    padding: 40px 0px;
}
/* Contact style
------------------------------------------------------------------------------------------------------- */
footer{
    background-color:cornflowerblue;
    padding: 40px 0px;
}