/* global style
------------------------------------------------------------------------------------------------------- */
p{
    color: rgb(33, 32, 32);
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3{
    font-family: 'Caveat', cursive;
}
h1{
    font-size: 60px;
    margin: 0;
}
h2{
    font-size: 30px;
    margin: 0;
}
h3{
    font-size: 20px;
    margin: 0;
}
img{
    width:300px;
}
a:link{
    color:rgb(24, 124, 49);
}
a:visited{
    color:rebeccapurple;
}
a:hover{
    color:red;
}
h1{
    margin: 0;
}
*{
    margin: auto;
}
.center-align{
    text-align: center;
}
.left-align{
    text-align: left;
}
.wrap{
    margin: auto 400px;
    max-width: 800px;
    
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: border-box;
}
.clearfix::after{
    content:"";
    display:table;
    clear: both;
}

/* Profile style
------------------------------------------------------------------------------------------------------- */
.navigation{
    padding:15px;
    background-image:url(../img/sea.jpg);
    background-position:bottom;
    position: fixed;
    width: 100%;
}
.navigation ul{
    margin-left: 0px;
}
.navigation ul li{
    display: inline-block;
    font-size: large;
}
.navigation a{
    color: rgb(17, 17, 17);
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    border: 3px ridge gold;
    background-color:rgb(6, 242, 234);
}
.navigation a:hover{
    color:rgba(102, 51, 153,80%);
}
.intro{
    background-color: rgb(83, 138, 220);
    border: 8px,gold;
    text-align: left;
    padding: 80px 0px 40px 0px;
}
.header-size{
    font-size: 35px;
}



/* Project and skills style
------------------------------------------------------------------------------------------------------- */
.project-style{
    background-color: darkgray;
    padding: 40px 0px;
}
.skill-style{
    background-color: coral;
    padding: 40px 0px;
}
.skill-style li{
    display: inline-block;
    align-items: center;
    background-color:thistle;
    padding: 10px;
    border-radius: 5px;
    margin: 25px;
    border: 4px outset black;
}
.skill-style li a{
    text-decoration: none;
    padding: 25px;
}
.border-test{
    border: 2px solid black;
}
.flex-style{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px dotted black;
}
.flex-style:last-of-type{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border-style: none;
}


/* Work experience style
------------------------------------------------------------------------------------------------------- */
.work-style{
    background-color: cadetblue;
    padding: 40px 0px;
}
.work-header{
    margin-bottom: 100px;
}
.grid-style{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    row-gap: 40px;
    column-gap: 10px;
    padding-bottom: 30px;
    border-bottom: 3px dotted black;
}
.grid-style:last-of-type{
    border-style: none;
}
.title{
    grid-column-start: 2;
}
.description{
    grid-column: 3/3;
}
.title > h3{
    font-size: 45px;
}
.title > h3 ~ p{
    font-size: medium;
}
/* Eduaction style
------------------------------------------------------------------------------------------------------- */
.education-style{
    background-color: rgb(180, 72, 72);
    padding: 40px 0px;
}
/* Contact style
------------------------------------------------------------------------------------------------------- */
footer{
    background-color:rgb(78, 117, 189);
    padding: 40px 0px;
}
.contact-list{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
    margin-left: -50px;
}
.contact-list a{
    padding: 20px;
    display: inline-block;
}
.contact-list a:link{
    color: rgb(15, 231, 33);
    text-decoration: none;
}
.contact-list a:hover{
    color: burlywood;
}